/* GLOBAL FIX a */
a {
  text-decoration-line: none;
}

ul {
  list-style: none;
}

:root {
  --title: #212121;
  --text: #757575;
  --primary-btn-text: #212121;
  --secondary-btn-text: #ffffff;
  --background-btn-primary: #f5f4fa;
  --background-btn-secondary: #2196f3;
  --primary-link: #757575;
  --secondary-link: #2196f3;
  --primary-nav: #212121;
  --secondary-nav: #2196f3;
}

.logo-first {
  color: var(--secondary-nav);
}

.logo {
  color: var(--primaty-nav);
}

.navigation {
  color: var(--primary-nav);
}

.navigation:hover,
.navigation:focus {
  color: var(--secondary-link);
}

.navigation-link {
  color: var(--primary-link);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--secondary-link);
}

.button {
  color: var(--primary-btn-text);
  background-color: var(--background-btn-primary);
}

.button:hover,
.button:focus {
  color: var(--secondary-btn-text);
  background-color: var(--background-btn-secondary);
}

.title {
  color: var(--title);
}

.text {
  color: var(--text);
}

.main-title {
  color: #ffffff;
}

/* SECTIONS */
.section-one {
  background-color: #2f303a;
}

.section-two {
  background-color: #ffffff;
}

.section-three {
  background-color: #ffffff;
}
